BeautifulSoup==3.2.1
Flask==0.9
Jinja2==2.6
Pillow==2.4.0
Werkzeug==0.8.3
argparse==1.1
backports.ssl-match-hostname==3.4.0.2
beautifulsoup4==4.3.2
distribute==0.6.31
heroku==0.1.4
pyjade==1.9
python-dateutil==1.5
requests==2.2.1
tornado==3.2
wsgiref==0.1.2
