body {
	padding: 0px;
}


#test{
	position: absolute;
	z-index: 400;
	margin-left: auto;
}

#toggle_board{
	margin-left:auto;
	margin-right:185px;
}

#menu{
	margin-right: -10px;
}

#toggle_history{
	margin-left:150px;
}

#history{
	margin-right: -200px;
}

#background-video{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 100%;
  width:100%;
  z-index:0;
  background-color: black;
  color: black;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#stats{
	position: relative;
}

.scroll {
    max-height: 100%;
    overflow: auto;
}

/*#history-table{
	font-family:Helvetica, sans-serif;
	color:#666;
	font-size:12px;
	text-shadow: 1px 1px 0px #fff;
	background:#BEE4F7;
	border:#ccc 1px solid;
	width: 183px;
	text-align: center;
	margin-right: auto;
	position: absolute;
	top: 0;
	left: 0;
}

tr {
	width:100px;
}

/*#leaderboard-table{
	font-family:Helvetica, sans-serif;
	color:#666;
	font-size:12px;
	text-shadow: 1px 1px 0px #fff;
	background:#BEE4F7;
	border:#ccc 1px solid;
	width: 183px;
	text-align: center;
	margin-left: auto;
	position: absolute;
	top: 0;
	right: 0;
}

table tr{
	padding:21px 25px 22px 25px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;
}

table thead tr{
	text-align:center;
	font-weight: bold;
	background: #BEE4F7
}

table tr td{
	text-align:center;
	padding:15px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
}*/