body {
	padding: 0px;
}

#test{
	position: absolute;
	z-index: 400;
	margin-left: auto;
}

#toggle_board{
	margin-left:auto;
	margin-right:185px;
}

#menu{
	margin-right: -10px;
}

#toggle_history{
	margin-left:150px;
}

#history{
	margin-right: -200px;
}

.background-video-wrapper {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width:100%;
}

#background-video {
  z-index:0;
  min-height: 100%;
  min-width:100%;
  background-color: black;
  color: black;
}

#stats{
	position: relative;
}

.scroll {
  height: 650px;
  width: 520px;
  overflow: hidden;
  position: absolute;
  top: 0;
  border-radius: 0 0 4px 4px !important;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.handle {
  height: 30px;
  width: 100%;
  display: table;
  background-color: #FFEEC1;
  color: #538BFF;
  border-color: #538BFF;
  border-style: groove;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}

.handle > p {
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.table {
  margin-bottom: 0 !important;
}

.table-wrapper {
  height: 620px;
  overflow: scroll;
}

#leaderboard {
  right: 0;
  margin-right: 20px;
}

#historyboard {
  left: 0;
  margin-left: 20px;
}

.unopened {
  top: -620px !important;
}

.unloaded {
  top: -650px !important;
}